<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    

<main class="mainPageForm">
    <h1 class="mainPageHeader">Note app</h1>
    <a href="/notes"class="navButton">Go to your notes</a>
    <h2 class="editNoteHeader">Edit your note</h2>
    <form action="/notes" class="formNotes">
        <label for="title">
            <h2 class="mainPageLabel">Title</h2>
            <input type="text" name="title" class="titleInput" value="<%= found.title%>">
        </label>

        <label for="content">
            <h2 class="mainPageLabel">Content</h2>
            <textarea name="content" rows="4" cols="50" class="contentInput"><%= found.content%></textarea>
        </label>

        <div>
            <input type="submit" value="Submit" class="submitButton">
        </div>    
    </form>
</main>

</body>
</html>