<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<main class="notesPageMain">

    <h1 class="notesHeader">Heres your notes!</h1>

    <a href="/" class="navButton">Go to to homepage</a>

    <div class="noteList">
        <% notes.forEach( (note) =>{ %>
            <div class="note">
                <h2><%= note.title %> 
                    <span class="removeEdit"> 
                        <i class="far fa-trash-alt"></i>
                    </span>
                    <span class="removeEdit"> 
                        <a href="/notes/edit/<%=note.id%>"><i class="far fa-edit"></i></a>
                    </span>
                </h2>
                <p><%= note.content %></p>

            </div>
       <% }) %>
    </div>
</main>

</body>
</html>